li{
    list-style :none;
    padding: 10px;
    float: right;
}

.header-logo{
    font-size:25px;
    font-family: sans-serif;
    float: left;
    padding: 5px 800px 10px 20px;
}

img{
    width: 400px;
    height: 480px;
    margin-right: 10px;
    padding-top: 0px;
    float:left;
}

p{
    font-size: 25px;
    float: right;
    padding : 10px 10px 8px 0px;
    margin-left: 45px;
    margin-top: 70px;
}
.content{
    margin:2px;
    padding:1px;
}
.container{
    margin-top: 1px;
    border-radius: 7px;
    padding :20px 20px 40px 20px;
    margin-right: 80px;
    float:right;
}

#Submit{
    border-style: none;
    font-family: inherit;
    padding-top: 2px;
    background-color: rgba(221, 221, 221, 0.849);
    border-radius: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0px;
}

.footer h3{
    text-align: left;
    float: right;
    padding: 100px;
}